extends layout
 
block content
  head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  main
  section#home
 
  p
  |This is a brief description of our voting system. Provide information about how the system works,
  |the purpose, and any other relevant details.
  p
  | You can navigate to other sections using the links in the navigation menu above.
  section#about
  h2 About Us
  p
  | This is information about our organization. Describe your organizations background,
  | mission, and any other relevant details.
  section#contact
  h2 Contact Us
  p
  | For inquiries, please contact us at:
  br
  | Email: info@example.comwwww
  br
  | Phone: +1 123-456-7890
 
