
head
 
  title Voting System
  style.
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    }
    nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
    }
    nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    }
    
    footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    }
   
    
header
  img(src='./image/download.jpg' alt='image' width='100')
  h1 Voting System
nav
  a(href='/') Home
  a(href='/about') About
  a(href='/contact') Contact
  a(href='/login') Login
block content
footer
  | 2024 Your Company. All rights reserved. | Author: Your Name
